<form class="{{cssClass}}" autocomplete="off">
  {{> "systems/lhtrpg/templates/item/parts/item-header.html"}}

  <section class="sheet-stats option-stats">

    <div class="stat-div option-identifier">
      <label>{{localize 'LHTRPG.CharacterOptions.Identifier'}}</label>
      <div>
        <input type="text" name="system.identifier" value="{{system.identifier}}" placeholder="-" data-dtype="String">
      </div>
    </div>
    <div class="stat-div">
      <label>{{localize 'LHTRPG.Str'}}</label>
      <div>
        <input type="text" name="system.attributes.str" value="{{system.attributes.str}}" placeholder="0" data-dtype="Number" maxlength="3">
      </div>
    </div>
    <div class="stat-div">
      <label>{{localize 'LHTRPG.Dex'}}</label>
      <div>
        <input type="text" name="system.attributes.dex" value="{{system.attributes.dex}}" placeholder="0" data-dtype="Number" maxlength="3">
      </div>
    </div>
    <div class="stat-div">
      <label>{{localize 'LHTRPG.Pow'}}</label>
      <div>
        <input type="text" name="system.attributes.pow" value="{{system.attributes.pow}}" placeholder="0" data-dtype="Number" maxlength="3">
      </div>
    </div>
    <div class="stat-div">
      <label>{{localize 'LHTRPG.Int'}}</label>
      <div>
        <input type="text" name="system.attributes.int" value="{{system.attributes.int}}" placeholder="0" data-dtype="Number" maxlength="3">
      </div>
    </div>
    <div class="stat-div">
      <label>{{localize 'LHTRPG.Label.HP'}}</label>
      <div>
        <input type="text" name="system.hp" value="{{system.hp}}" placeholder="0" data-dtype="Number" maxlength="3">
      </div>
    </div>
    <div class="stat-div">
      <label>{{localize 'LHTRPG.Label.Fate'}}</label>
      <div>
        <input type="text" name="system.fate" value="{{system.fate}}" placeholder="0" data-dtype="Number" maxlength="3">
      </div>
    </div>
  </section>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize 'LHTRPG.Description.Label'}}</a>
    <a class="item" data-tab="grants">{{localize 'LHTRPG.CharacterOptions.Grants.Tab'}}</a>
    <a class="item" data-tab="effects">{{localize 'LHTRPG.Effect.Label'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body itemOption">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor enrichments.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Starting skills Tab --}}
    <div class="tab grants" data-group="primary" data-tab="grants">
      {{> "systems/lhtrpg/templates/item/parts/item-grants.html"}}
    </div>

    {{!-- Effects Tab: applied to the character while it holds this item --}}
    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> "systems/lhtrpg/templates/item/parts/item-effects.html"}}
    </div>
  </section>
</form>
